
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

#navigation .user-image{
    margin-right: 5px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

html, body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Poppins",sans-serif;;
}